* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body header {
    background-color: aqua;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
body header .cabecalho {
    background-color: aquamarine;
    width: 90%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
body header .cabecalho .logo {
    background-color: brown;
    width: 10%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
body header .cabecalho .titulo {
    background-color: blueviolet;
    width: 20%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
body header .cabecalho .menu {
    background-color: blue;
    width: 15%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
body header .cabecalho .menu ul {
    display: flex;
    gap: 10px;    
}
body header .cabecalho .menu ul a {
    text-decoration: none;
    cursor: pointer;
}
body header .cabecalho .menu ul a:hover {
    text-decoration:underline;
    color:azure;
    cursor: pointer;
}

main {
    background-color: blue;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
}

main .informacoes-pessoais {
    background-color: blueviolet;
    width: 30%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
main .informacoes-pessoais .foto-perfil {
    background-color: brown;
    width: 60%;
    height: 30vh;
}
main .informacoes-pessoais .nome-usuario {
    background-color: aqua;
    width: 90%;
    height: 5vh;
    display: flex;
    justify-content: center;
}
main .informacoes-pessoais .biografia {
    background-color: blanchedalmond;
    width: 90%;
    height: 40vh;
}

main .informacoes-pessoais .biografia .frase {
    background-color: cadetblue;
    width: 90%;
    height: 5vh;
}
main .informacoes-pessoais .biografia .informacoes-basicas {
    background-color: burlywood;
    width: 90%;
    height: 30vh;
}


main .informacoes-gerais {
    background-color: cadetblue;
    width: 45%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}
main .informacoes-gerais .opcoes-acoes {
    background-color: burlywood;
    width: 55%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
main .informacoes-gerais .opcoes-acoes ul {
    display: flex;
    gap: 15px;
}
main .informacoes-gerais .opcoes-acoes ul li {
    background-color: aqua;
    border-radius: 10px;
}

main .informacoes-gerais .monitoria-atual {
    background-color: blueviolet;
    width: 80%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main .informacoes-gerais .titulo {
    background-color: chartreuse;
    width: 40%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .informacoes-gerais .sobre-monitoria {
    background-color: chocolate;
    width: 90%;
    height: 10vh;
    display: flex;
    justify-content: center;
}
main .informacoes-gerais .botao-contato {
    background-color: blue;
    width: 30%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
main .informacoes-gerais .botao-contato a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}
main .informacoes-gerais .botao-contato a:hover {
    text-decoration:underline;
    color:azure;
    cursor: pointer;
}
