* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body header {
    background-color: aqua;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
body header .cabecalho {
    background-color: aquamarine;
    width: 90%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
body header .cabecalho .logo {
    background-color: brown;
    width: 10%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
body header .cabecalho .titulo {
    background-color: blueviolet;
    width: 20%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
body header .cabecalho .menu {
    background-color: blue;
    width: 15%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
body header .cabecalho .menu ul {
    display: flex;
    gap: 10px;    
}
body header .cabecalho .menu ul a {
    text-decoration: none;
    cursor: pointer;
}
body header .cabecalho .menu ul a:hover {
    text-decoration:underline;
    color:azure;
    cursor: pointer;
}

main {
    background-color: brown;
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
main .section-i {
    background-color: blueviolet;
    width: 90%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
main .section-i .noticias {
    background-color: aquamarine;
    width: 50%;
    height: 70vh;
    display: flex;
    justify-content: center;
}
main .section-i .sobre {
    background-color: burlywood;
    width: 30%;
    height: 70vh;
}
footer {
    background-color:chartreuse;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}